<section id="about">
    <div class="container">
        <div class="row text-center content-row">
            <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay=".2s">
                <div class="about-content">
                    <i class="fa fa-eye fa-4x"></i>
                    <h3>Eye Examinations</h3>
                    <p>Why we are great item 1</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay=".4s">
                <div class="about-content">
                    <i class="fa fa-sunglasses fa-4x"></i>
                    <h3>Designer Frames</h3>
                    <p>Why we are great item 2</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay=".6s">
                <div class="about-content">
                    <i class="fa fa-tablet fa-4x"></i>
                    <h3>Designer Sunglasses</h3>
                    <p>Why we are great item 3</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay=".8s">
                <div class="about-content">
                    <i class="fa fa-heart fa-4x"></i>
                    <h3>Contact Lenses</h3>
                    <p>Why we are great item 4</p>
                </div>
            </div>
        </div>
    </div>
</section>