<section id="brands">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12">
        <h2>OUR BRANDS</h2>
        <hr class="colored">
      </div>
    </div>

    <div class="row text-center brand-row">
      <div class="col-md-2 col-sm-4 col-xs-6">
        <img src="img/logo/brands/img-logo1.png" alt="">
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <img src="img/logo/brands/img-logo23.jpg" alt="">
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <img src="img/logo/brands/img-logo3.png" alt="">
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <img src="img/logo/brands/img-logo5.png" alt="">
      </div>      
      <div class="col-md-2 col-sm-4 col-xs-6">
        <img src="img/logo/brands/img-logo9.png" alt="">
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <img src="img/logo/brands/img-logo9.png" alt="">
      </div>
    </div>

    <div class="row text-center brand-row">
      <div class="col-md-2 col-sm-4 col-xs-6">
        <img src="img/logo/brands/img-logo1.png" alt="">
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <img src="img/logo/brands/img-logo23.jpg" alt="">
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <img src="img/logo/brands/img-logo3.png" alt="">
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <img src="img/logo/brands/img-logo5.png" alt="">
      </div>      
      <div class="col-md-2 col-sm-4 col-xs-6">
        <img src="img/logo/brands/img-logo9.png" alt="">
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <img src="img/logo/brands/img-logo9.png" alt="">
      </div>
    </div>

  </div>
</section>
