<section id="footer">

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <h3>LOREM IPSUM</h3>
            <p><span class="copy-blue">ALWAYS THERE FOR YOU.</span></p>
        </div>
        <div class="col-xs-12  col-sm-3 col-md-3 col-lg-3">
            <ul>
                <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet</a></li>
            </ul>
        </div>
        <div class="col-xs-12  col-sm-3 col-md-3 col-lg-3">
              <ul>
                <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet</a></li>
              </ul>
        </div>
        <div class="col-xs-12  col-sm-3 col-md-3 col-lg-3">
              <ul>
                <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet</a></li>
              </ul>
        </div>
      </div>
    </div>

</section>
