 <!-- SOCIAL-->
    <section id="footer"  class="container-fluid content footer">
            <div class="container module img-panel-container">
              <div class="row ">
                <div class="col-xs-12  col-sm-3 col-md-3 col-lg-3">
                    <p>ALWAYS THE BEST TIME.</p>
                    <p><span class="copy-blue">ALWAYS THERE FOR YOU.</span></p>
                </div>
                <div class="col-xs-12  col-sm-3 col-md-3 col-lg-3">
                      <ul>
                        <li class="title">NEW RESERVATIONS</li>
                        <li><a href="#">Find Hotels</a></li>
                        <li><a href="#">Travel Packages</a></li>
                        <li><a href="#">Redeem Gold Passport Points</a></li>
                        <li class="title">EXISTING RESERVATIONS</li>
                        <li><a href="#">Find / Modify / Cancel</a></li>
                        <li><a href="#">Reservations</a></li>
                        <li><a href="#">Check In / Check Out</a></li>
                        <li><a href="#">Retrieve Hotel Bill</a></li>
                        <li><a href="#">WHAT'S NEW</a></li>
                        <li><a href="#">Breaking News</a></li>
                        <li><a href="#">Newsroom</a></li>
                        <li><a href="#">Hyatt Blog</a></li>
                        <li><a href="#">New Hotels & Designs</a></li>

                      </ul>
                </div>
                <div class="col-xs-12  col-sm-3 col-md-3 col-lg-3">
                      <ul>
                        <li class="title">EXPLORE MORE</li>
                        <li><a href="#">Destinations </a></li>
                        <li><a href="#">Mobile</a></li>
                        <li><a href="#">Resorts </a></li>
                        <li class="title">Acadian Hotels in Hawaii</li>
                        <li><a href="#">Weddings</a></li>
                        <li><a href="#">Roomkey.com</a></li>
                        <li><a href="#">Acadian Residences</a></li>
                        <li><a href="#">events</a></li>
                        <li><a href="#">eto sum</a></li>
                        <li><a href="#">a abbas </a></li>
                        <li><a href="#">cucaniensis consilium</a></li>

                      </ul>
                </div>
                <div class="col-xs-12  col-sm-3 col-md-3 col-lg-3">
                      <ul>
                        <li class="title">LOREM IPSUM </li>
                        <li><a href="#">EXISTING RESERVATIONS</a></li>
                        <li><a href="#">Find / Modify / Cancel</a></li>
                        <li><a href="#">Newsroom</a></li>
                        <li><a href="#">Hyatt Blog</a></li>
                        <li class="title">Travel Packages</li>
                        <li><a href="#">Destinations </a></li>
                        <li><a href="#">Mobile</a></li>
                        <li><a href="#">Resorts </a></li>

                      </ul>
                </div>
              </div>
              <div class="row ">
                <div class="col-xs-12  align-center">
                    <div class="footer-logo">
                      <img src="img/acadian-footer-logo.jpg" width="271" height="auto" /> 
                      <span>©ACADIAN Hotels Limited  |  1997-2015.   |    All Rights Reserved.</spam>                   
                    </div>
                </div>
              </div>
          </div>

    </section>
