<section id="team">
    <div class="container-fluid">

        <div class="row text-center content-row">
            <div class="col-md-4 col-sm-12">
                <div class="team-content">
                    <img src="/img/backgrounds/anonymous_silhouette.jpg">
                    <h3>Andy</h3>
                    <p>Andy works here</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="team-content">
                    <img src="/img/backgrounds/anonymous_silhouette.jpg">
                    <h3>Betty</h3>
                    <p>She also works here</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="team-content">
                    <img src="/img/backgrounds/anonymous_silhouette.jpg">
                    <h3>Chris</h3>
                    <p>The 3rd one</p>
                </div>
            </div>

        </div>
    </div>
</section>