html,
body {
  height: 100%;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.img-centered {
  margin: 0 auto;
}
.content-row {
  margin-top: 30px;
}
section {
  padding: 100px 0;
}
.bg-gray {
  background-color: #f5f5f5;
}
.bg-dark {
  color: white;
  background-color: #222222;
}

nav {
  // .navbar {
  //   background-color: grey;
  // }
}

header {
  position: relative;
  display: block;
  height: auto;
  width: auto;
  background-color: #222222;
  background: no-repeat center center;
  // background-attachment: scroll;
  background-size: cover;
  padding: 100px 0;

  @media (max-width: $screen-xs-max) {
    height: 90%;
    width: 100%;
    padding: 0;
    // background-attachment: scroll;
  }

  @media (min-width: $screen-sm-min) {
    height: 90%;
    width: 100%;
    padding: 0;
    // background-attachment: scroll;
  }

  @media (min-width: $screen-md-min) {
    // background-attachment: fixed;
  }

  &::before {
    content: ' ';
    position: fixed; // instead of background-attachment
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    background: url('../img/backgrounds/4128-30_image-2-c.jpg') no-repeat center center;
    background-size: cover;
    will-change: transform; // creates a new paint layer
    z-index: -1;
  }

  .intro-content {
    position: absolute;
    top:50%;
    left:50%;
    width:50%;
    margin:auto;
  }

  .img-centered {
    margin: 0 auto;
  }

}

#about {
  background-color: white;
}

#team {

  background-color: rgba(0,0,0,0.5);

  h3 {
    position: relative;
    // margin: -20px 40px 0 40px;
    background-color:white;
  }
}

#contact {

  background-color: #E0E6EB;

  .contact-details {
  }

  .opening {
    td:nth-child(1) {
      // text-align: left;
      // padding-right:30px;
    }
  }

  #map-container { height: 300px }

}

#footer {
  background-color:white;
}


.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
