
@mixin centerColumn(){
  margin: 0 auto;
  position: relative;
  float:none;
}

@mixin fullWidthImage(){
	img{
    	width:100%;
    	height:auto;
    	display: inline-block;
  }
}

//fonts
@mixin lato($weight:300){
	  font-family: $font-family-sans-serif;
    font-style: normal;
    font-weight: $weight;
}
 
@mixin merriweather($weight:300){
  font-family: $font-family-serif;
  font-style: normal;
  font-weight: $weight;
}

@mixin horizonBg{
  background: linear-gradient(to bottom, #88c0b3 0%,#2faddb 100%);
}


@mixin vCenter(){
  display: inline-block;
  vertical-align: middle;
  float: none;
}

