 picture{
      display:block;
      width:100%;
      img{
        display: block;
        width:100%;
        height:auto;
      }
    }

.form-control{
    font-weight: 300;
}

//override bootstrap nav defaults
.navbar-default,
.navbar{
    position:absolute;
    font-size:10px;
    border:none;
    z-index: 9999;
    background:none;
    box-shadow: none;
    
    a{
      color: $white-base;
    } 
  
  .navbar-brand{
    position: absolute;
    top: 0;
    z-index: 1;

    text-indent: -99999px;
    margin-left:0 !important;

      top: -15px;
      left: 0;
      z-index: 9;

      .site-logo{
          background: url(../img/logo.jpg) no-repeat 0 0;
          height: 260px;
          width: 170px;
          background-color: #fff;
      }
   }
  
  .navbar-nav{ 
      > li > a:hover,  
      > li > a:focus,  
      > li > a {
        color: $white-base;;
      }

      > .open{
        > a:hover,
        > a:focus,
        > a{        
          color: $white-base;;
          background: none;
        }
      }
  }
  
  .navbar-toggle:focus,
  .navbar-toggle:hover,
  .navbar-toggle{
    border:none; 
    background: none;
    z-index:9999;

    .icon-bar{
      background-color: $white-base;
    }
    &[aria-expanded="true"]  .icon-bar{
        background-color: #000;
      }
  }

  .dropdown-menu,
  .dropdown-menu>li>a:hover,
  .nav .open>a, 
  .nav .open>a:focus,
  .nav .open>a:hover,
  .nav > li > a:hover,
  .nav > li > a:focus {
  color:$white-base;
   background: none;
    border:none;
  }
  .dropdown-menu > li > a {
      color: $white-base;;
      padding: 0 25px 0 0;
      text-align: right;
      font-size: 9px;
  }



}

/*nav{
  .dropdown-menu,
  .dropdown-menu>li>a:hover,
  .nav .open>a, 
  .nav .open>a:focus,
  .nav .open>a:hover,
  .nav > li > a:hover,
  .nav > li > a:focus {
  color:$white-base;
   background: none;
    border:none;
  }
  .dropdown-menu > li > a {
      color: #FFF;
      padding: 0 25px 0 0;
      text-align: right;
      font-size: 9px;
  }

}*/

.dropdown-menu{
  box-shadow: none;
}


.dropdown-menu>li>a{
  color:$white-base;
  padding:0;
}

.navbar-collapse{
  text-align: right;
}



//OWL-Carousel
.carousel-caption{
    text-align: left;
    width:50%;
    max-width: 450px;
    margin:0 auto;
    bottom:10%;
    h1{
      font-weight: 300;
      margin-bottom: 20px;
      font-size:42px;
    }
    p:nth-child(2){
      @include merriweather(300);
      margin-bottom: 20px;
    }
  }


.owl-carousel{
  .owl-prev,
  .owl-next{
      top:0;
      width: 10%;
      height: 100%;
      z-index:20;
      position: absolute;
      text-indent: -9999px;
      cursor: pointer;
  }

  .owl-prev{
    left:0;
    background: url(../img/carousel-prev.png) no-repeat right 60%;
  

  }
  .owl-next{
    right:0;
    background: url(../img/carousel-next.png) no-repeat left 60%;

  }

}
//END OWL CAROUSEL

.page-title-headers{
    min-height: 150px;
    position:relative;
    background: linear-gradient(to bottom, $horizon-blue-dark 0%, $horizon-blue-light 100%);

    h1{
        text-align: center;
        position: absolute;
        bottom: 10%;
        width: 100%;
        font-weight: 200;
    }

}



//RESERVATION
$reservationId:'.reservation';
#{$reservationId}{
    @include horizonBg();

    .row{
      padding:15px;
    }

    &.client{
      .row:nth-child(1){
        display:none;
      }
    }

    .row-title{
          font-size: 20px;
          font-weight: 200;
          line-height: $grid-gutter-width-md;
          display: table-cell;
          text-align: right;
          vertical-align: middle;
          padding-right: $grid-gutter-width-md /2;
         // padding-bottom: $grid-gutter-width-md;
    }

    .input-group.date{
      color:$light-blue-base;
    }

    &__nav{
      width:90%;
      font-size: 12px;
      padding: $grid-gutter-width-md /2 0; 


      // font-size: 12px;
      // padding: 0;
      // width: 950px;
      // margin: 0 auto;
      // text-align: center;     

      &__item{
        //display: inline-block;
        display: table;
        position: relative;
        margin:0 2px;
        padding:0;
        opacity:1;
        height: 68px;

        vertical-align:middle;
        transition:all .5s ease-out;

        -webkit-animation-duration: 0.5s;
        -webkit-animation-name: fadeInFromNone;
        
        p{
          color:$white-base;
        }

        p{
          //position: absolute;
          
          &:nth-child(1){
            top:-20px;
          }
          &:nth-child(3){
            bottom:-$grid-gutter-width;
          }
        }

        &._hide{
            opacity:0;
            display:none !important;
            transform:translateY($grid-gutter-width-half);
        }


      }

    }

  .tt-menu{
      width: 270px;
      padding: $grid-gutter-width-half;
      font-size: 15px;
      border-radius: 5px;
      background: white;
  }
  .tt-suggestion.tt-selectable:hover {
    background-color: rgb(247, 224, 224);
  }

}


.booking-breadcrumb{
   background: $horizon-blue-light;
   height:50px;
   text-align: center;
   height:auto;

    >div{
      width:80%;
       font-size: 14px;
       font-weight:bold;
    }

    div[class^=col-]{
      border-top: 1px solid $horizon-blue-dark;
      border-left: 1px solid $horizon-blue-dark;
       border-bottom: 1px solid $horizon-blue-dark;

      &:last-child{
        border-bottom: 1px solid $horizon-blue-dark;
      }
    }

    p{
       padding:10px;
      opacity: .7;
      &.active{
        opacity: 1;

        text-decoration: underline;
      }
    }
}




.content{
  padding:80px 0 100px 0;
}



//FEATURES OPTION BAR
.features-bar{
  .container{
    width: 70%;
  }
  @include centerColumn();
  text-align: center;
  padding:20px 0;
  span{
    display: inline-block;
    text-align: center;
    font-size: 12px;
    color: $light-blue-base;
    text-indent: -24px;


  }



}




// 1 and 1X4 IMAGE PANEL BLOCKS
.img-panel-container{
   @include centerColumn();
  padding:0;
  max-width: 1024px;
  width: 100%;



   //max-width: 1024px;
   div[class^=col-]{
      padding:0;
      margin: 0;
    }

  .row {
    margin:0;
    height: inherit;
  }


}

.panel-col{
  overflow: hidden;
  height: inherit;
  display: inline-block;
  
  /*FIX browser percentage calculation*/
  &.split{
    left:-1px;
  }

  .reverse &{
    
    &.split{
      left:0px;
    }
    float:right;
  }
}


.panel-img{    
  background-color: $white-base;
  display:inline-block;
  height:inherit;
  position:relative;
  width: 100%;
  color:$white-base;
  

  img{
    width:100%;
    height:auto;
    display: inline-block;
  }
  a{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 9;
  }

  .copy{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width:75%;

    h4{
      @include lato(100);
      text-transform: uppercase;
      line-height: 31px;
      font-size: 32px;
    }

    p:nth-child(2){
      @include merriweather(200);
      font-size: 14px;
    }
    
    p:nth-child(3){
      @include lato(500);
      font-size: 12px;
      padding-top: 12px;
      position: relative;
      top: 120px;
      color:$white-base;
    }

    .icon{
      position: absolute;
      top:20px;
      left:20px;
    }

  }
  .split &{
      
      width: 50%;
      height: 50%;
      display: inline-block;
      float: left;

      &.colspan2{
        width: 100%;
        text-align: center;
      }

      &.rowspan2{
        height:100%;
        padding: 50% 0;
        text-align: center;

        .icon{
          position: absolute;
          top:5%;
        }
      }

      h4{
        font-weight: 300;
        line-height: normal;
        font-size: 18px;
      }

      p:nth-child(3){
      padding-top: 12px;
      position: relative;
      top:0px;
      color:$light-blue-base;
    }
  }
}

.panel-img.no-bg{
    padding: 25%;
    background: $white-base;
    color:black;    
}
.social .panel-img{
    h5,h6{
      color: #000;
    }

    h5{ margin-bottom:0}
    h6{ margin-top:0}
    color:$site-grey-base;
    .copy{
      h5,h6{
        text-align: left;
      }
  
      text-align: left;
        .icon{
          position: static;
          font-size: 30px;
          margin-bottom: $grid-gutter-width;
        }
    }
    &.colspan2,
    &.rowspan2{
      h5,h6,
      .copy{

        text-align: center;

      }
      
    }
}









.content-info-circle{
    color: $white-base;
    width: 209px;
    border: 8px solid $white-base;
    border-radius: 179px;
    height: 210px;
    padding: $grid-gutter-width 0;
    font-weight: 300;
    margin: ($grid-gutter-width-md/2) auto;

    p:nth-child(1){
       font-size: 64px;
    }
}

.panel-details-tout{
  width: 316px;
  /* height: 330px; */
  background-color: white;
  position: relative;
  right: 10%;
  padding: $grid-gutter-width;
  
  font-weight: 200;
  font-style: italic;
  text-align: left;
  color:$light-blue-base;
  font-style: normal;

  >p{
    line-height: 16px;
  }

  h2{
    font-style: italic;
    font-weight: 200;
  }
  p:nth-child(3){
     margin-top: 5px;
     font-size: 12px;
     font-weight: 400;
    
  }
  p:nth-child(4){
    font-size: 12px;
    font-weight: 300;
  }
  
  &.blue{
    color:$light-blue-base;
  }

  .icon{
    font-size: 35px;
    text-align: center;
    padding: 20px;
  }

}

.panel-details-cta-tout{  
    border:none;  
    background: none;
    text-align: left;
    h2{
      color:$white-base;
      font-weight: 200;

      margin-bottom: 5px;
    }

    p{
      color:$white-base;
      &:nth-child(2){
        @include merriweather();
        margin-bottom:$grid-gutter-width;
        font-size: 12px;
      }
    }

}



//FULL WIDTH PANEL WITH BG
.content-img-panel{
  text-align: center;
  background-size: cover;
  padding-bottom: $grid-gutter-width;

  h4{
    @include lato(300);

    font-size: 26px;
    margin: $grid-gutter-width 0;
  }

  .row{
    margin: 0;
  }

  &.barcelona{
    background-image: url(../img/promo-data.jpg);
  }

  &.pool{
    background-image: url(../img/promo-quote.jpg);
    padding:50px 0;
  }
  &.cocktail{
    background-image: url(../img/promo-member.jpg);
    background-position: right 0;
    .caption{
        padding: 60px 0 50px 0
    }

    h2{
      font-size:45px; 
    }
    
  }
  &.subscribe{
    @include horizonBg();
      background-position: 0 0;
      padding:30px 0px;
      min-height: 100%;

      .panel-details-cta-tout{
        margin: 0 auto;
         h2{
            color: $white-base;
            font-weight: 200;
            font-size: 27px;
            margin-bottom: $grid-gutter-width-half;
         }
      }
      .form-horizontal .form-group{
        margin:$grid-gutter-width-half 0;
      }
  }
}
//END FULL WIDTH PANEL WITH BG





//FOOTER
.footer{
  color:black;
  background: $white-base;
  a,
  a:visited{
    color:black;
  }
  .container .row{
    div:nth-child(1){
      p{
        color:$site-grey-base;
        font-size: 30px;
        font-weight:300;
      }
    }
  }

  li{
    font-weight: 300;
    line-height: 13px;
    text-transform: uppercase;
    font-size: 10px;

    &.title{
      font-weight: bold;
      
    }

  }

  .footer-logo{
      max-width: 320px;
      position: relative;
      margin: $grid-gutter-width auto;
      text-align: center;
      color:$light-blue-base;
      span{
        display: block;
        font-size: 12px;
        font-weight: 300;
        margin-top: 10px;
      }
  }
}
//END FOOTER

//DATE PICKER OVERRIDE
.icon-star-full:before {
  color:$site-grey-base;
}
.glyphicon-calendar:before {
  font-family: 'icomoon';
  content: "\e60a";
}

.glyphicon-chevron-right:before{
  font-family: 'icomoon';
  content: "\e605";
}
.glyphicon-chevron-left:before{
  font-family: 'icomoon';
  content: "\e606";
}

//logos
.trip-advisor-logo{
  width:100%;
  height:15px;
  background: url(../img/trip-advisor-logo.png) no-repeat center center;
}

.trip-advisor-rating{
  width:100%;
  height:13px;
  margin: 10px 0;
  background: url(../img/trip-advisor-rating.png) no-repeat center center;
}

.curly-quote-divider{
  width:100%;
  height:19px;
  margin: 10px 0;
  background: url(../img/curly-quote-divider.png) no-repeat center center;
}

 @media screen and (max-width: 1064px)  { 
    .form-control{
      font-size: 12px;
      padding: 6px 10px;
    }
    .input-group-addon{
      padding: 6px 1px;
    }
 }

//MEDIA QUERIES
@media screen and (max-width: $screen-sm)  { 
  .col-xs-4 {
   //width: 32%;
  }

  .navbar-default,
  .navbar{
    position:fixed;
    font-size:10px;
    border:none;
    z-index: 9999;
    background:none;
    box-shadow: none;

    > .container{
      padding-left: 0;
      padding-right: 0;
    }

    .navbar-nav{ 
        > li > a:hover{
          color: #000;
          background-image: linear-gradient(to bottom, #dbdbdb 0%, #e2e2e2 100%);
          background-repeat: repeat-x;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFDBDBDB', endColorstr='#FFE2E2E2', GradientType=0);
          box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);

        }  
        > li > a:focus,  
        > li > a {
           color: #000;
        }

        > .open{
          > a:hover,
          > a:focus,
          > a{        
            color: #000;

          }
        }
    }
  }

  .nav.navbar-nav{
    li:nth-child(1){
      padding-top: 40px;
    }
  }

  .navbar-collapse{

      // background: rgba(0, 0, 0, 0.5);
    position: relative;
    //padding-top: 40px;
    top: -49px;
  }

  .navbar-collapse.in,
  .navbar-collapse.collapsing{
      // background: rgba(0,0,0,.5);;
    background-image: linear-gradient(to bottom, #ffffff 0%, #f8f8f8 100%);
    background-repeat: repeat-x;
    border-color: #e7e7e7;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
  }

  .navbar-default .navbar-brand .site-logo, .navbar .navbar-brand .site-logo{
    background-image: url(../img/acadian-logo-xs.jpg);
       width: 50px;
       height:68px;
  }

  


    .carousel-caption{
      bottom:0;

      h1{
        font-size: 20px;
      }
      p{
        font-size: 12px;
      }
    }

    .reservation__nav{
        //width:100%;
        .row{
            padding: 0;
        }
    }

    .reservation__nav__item {
        margin: 8px 2px;

        &.arrival{
          margin-top:-$grid-gutter-width-md;
        }

        &.departure{
          margin-bottom:$grid-gutter-width;
        }
    }

    .reservation .row-title{
      text-align:center;
    }

    #roomsSelect{
       margin-bottom: 0;
    }


    .content{
      padding:0px 1px;
    }


    .features-bar {
      text-align: left;
    }


    .form-control{
      font-size: 16px;
      width: 98%;
    }
    .input-group-addon{
      padding: 6px 12px;
    }

    .search{
        width: 100%;
        margin:0 !important;
    }

    #adultsSelect,
    #childrenSelect,
    #roomsSelect{
      margin:0px;
    }

    .flex-dates{
      left:0px !important;
    }

    .split .panel-img .copy h4 {
      font-size: 4vw;
    }
    .split .panel-img .copy p {
      font-size: 3vw;
    }

    div[class^=col-]{
      border-bottom: none;
    }




  }












