
@-webkit-keyframes fadeInFromNone {
    0% {
        display:none; 
        opacity: 0;
    }

    1% {
        display: block ; 
        opacity: 0;
    }

    100% {
        display: block ; 
        opacity: 1;
    }
}

.vcenter{
   // display: inline-block;
    vertical-align: middle;
    //float: none;
}

.full-width-img-panel{
    @include fullWidthImage();
}

.thumbnail, .img-thumbnail {
  box-shadow: none;
}

.copy-blue{
	color: $light-blue-base;
}
